html{
    font-family: sans-serif;
}
html{
    background-color: whitesmoke;
}
.titulo{
    text-align: center;
}
.tit_qu_mm{
    text-align: center;
}
.fbo-embed{
    position:fixed;
}
.texto_uno{
    text-align: center;
}